/* Styles for header */
header {
    background-color: rgb(52, 15, 95);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles for content */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid rgb(52, 15, 95);
    border-radius: 9px;
}

.content {
    color: rgb(52, 15, 95);
}

h1, h2 {
    text-align: center;
    color: burlywood;
}

p {
    text-align: justify;
}

.button {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: goldenrod;
}

/* Styles for footer */
footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(52, 15, 95);
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
