/* Styles for header */
header {
    background-color: rgb(52, 15, 95);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.team {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 250px;
    width: 250px;
    gap: 50px;
    padding: 150px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles for content */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid rgb(52, 15, 95);
    border-radius: 9px;
}
