/* Styles for header */
header {
    background-color: rgb(52, 15, 95);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.team {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 250px;
    width: 250px;
    gap: 50px;
    padding: 150px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles for content */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid rgb(52, 15, 95);
    border-radius: 9px;
}
.team li a {
    
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    
    
    
        display: grid;
        gap: 5px; /* Adjust gap between photos as needed */
        grid-template-columns: auto-fit(auto-fit, minmax(150px, 1fr)); /* Adjust min width of photos */
        width: 50%; /* Adjust the overall width of the grid container 90% */
        max-width: 120px; /* Optional: maximum width of the grid container 1200px */
    
    
    
        width: 100%;
        height: auto;
        object-fit: cover; /* Optional: Adjust how the photos fit inside their grid cells */
        border-radius: 8px; /* Optional: Adds rounded corners to the photos */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to the photos */
    }
    

footer{
    
}